# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# C extensions
*.so

# txt report file
*.txt

# iso image
data/*.iso

# cache data
data/SESSION
data/RELEASED_IMAGE_DATA
data/IMAGE_DOWNLOAD_QUEUE

# log files
logs/

# env
environ/
