# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# C extensions
*.so

# txt report file
*.txt

# iso image
*.iso

environ/
released_image_data
image_download_queue
session
